name: Release Creation

on: 
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Substitute the Manifest and Download URLs in the module.json
    - name: Substitute Manifest and Download Links For Versioned Ones
      id: sub_manifest_link_version
      uses: microsoft/variable-substitution@v1
      with:
        files: 'module.json'
      env:
        version: ${{github.event.release.tag_name}}
        url: https://github.com/${{github.repository}}
        manifest: https://github.com/${{github.repository}}/releases/latest/download/module.json
        download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/pf2e-drag-measurement-action-icon.zip

    # Create a "module.zip" archive containing all the module's required files.
    - run: zip -r ./pf2e-drag-measurement-action-icon.zip module.json scripts/ images/

    # Update the GitHub release with the manifest and module archive files.
    - name: Update Release With Files
      id: create_version_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        name: ${{ github.event.release.name }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json, ./pf2e-drag-measurement-action-icon.zip'
        tag: ${{ github.event.release.tag_name }}
        body: ${{ github.event.release.body }}